*{
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:#552424 !important;
  background-size: cover;
}
.logo {
  color: whitesmoke;
}


.container{
  width: 100%;
  max-width: 770px;
  background: #b9abb5bf;
  padding: 25px;
  margin: -10px 35px;
  margin-top: 35px;
  border-radius: 50px;
  box-shadow: inset -10px 3px 10px #fff;
}

  .form-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

  .main-user-info{
    display: table-caption;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px 250px 0px;
}


  .user-input-box:nth-child(2n){
  justify-content: end;
   
    
  
  
}
.user-input-box1 label, .user-input-box2 label, .user-input-box3 label, .user-input-box4 label{
  color: whitesmoke;
  padding-bottom: 5px;
  font-weight: bolder;
}

  .user-input-box1, .user-input-box2, .user-input-box3, .user-input-box4{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 12px; 
  
}
  .user-input-box1 input, .user-input-box2 input, .user-input-box3 input, .user-input-box4 input{
    writing-mode: horizontal-tb !important;
    padding-block: 0px;
    padding-inline: 10px;
    border-radius: 9px;
    margin: -5px;
    width: 190px;
    height: 40px;
    background-color: #d860601f;
}
.user-input-box1 input:focus, .user-input-box2 input:focus, .user-input-box3 input:focus, .user-input-box4 input:focus{
  background-color: whitesmoke;
  color: #b33133;
}
  /* .user-input-box label{
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
} */

/* .user-input-box select{

  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;


} */

.gender-title{
  color:white;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.gender-category{
  margin: 15px 0;
  color: white;
}

.gender-category label{
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
  cursor: pointer;
}

.form-submit-btn{
  margin-top: 40px;
  color: whitesmoke;
}

.form-submit-btn input{
  display: block;
  width: 50%;
  margin-top: 13px;
  margin-left: 150px;
  font-size: 20px;
  padding: 12px;
  border-radius: 3px;
  border-radius: 50px;
  background-color: #b33133;
  color: var(--white);
}

.form-submit-btn input:hover{

  background:  white;
  color: black;
    

}

@media(max-width: 600px){
  .container{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }

  .gender-category{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .main-user-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  background-color: #0000007a;
   

}

 
ul{
  list-style: none;
  z-index: 2;
}
.nav-links {
  display: flex;
  align-items: center;
   
   

}
.nav-links li {
  margin: 0px 7px;
  background-color: black;
  color: azure;
  border-radius: 0;
   
 


}
 
.nav-links li:hover{
  background-color: #ffc61a;
}
.nav-links li a{

  text-decoration: none;
  border:#0c356A;
  color: black;
 


}
form .err{
    color: aqua;

}
.navbar .nav-links li{
  background-color: rgb(240 240 240);
  border-radius: 30px;
  padding: 5px 30px;
  border: 1px solid #d13c2cd9;
}
.navbar .nav-links li:hover {
  color: white;
  border-radius: 30px;
  border: 1px solid white;
  background-color: #552424;
}


/* body{
  height: 100vh;
  background-color: var(--body-color);
} */