body {
    background-color:#243B55;
    width: 100%;
    height: 100%;
  }
  
  #form {
    background-color: rgb(255, 255, 255);
    width: 500px;
    border-radius: 6px;
    margin: 2% auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82, 11, 77);
  
  }
  
  .error {
    color: red;
  
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 90%;
    border-radius: 4px;
    border: 3px solid #f6efef;
    padding: 5px;
  }
  
  #btn {
    width: 100%;
    color: black;
    background-color: rgb(189, 175, 22);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    
  }
  
  @media screen and (max-width: 1350px) {
    #form {
      width: 40%;
      margin-left: none;
      padding: 40px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    #form {
      width: 60%;
      margin-left: none;
      padding: 40px;
    }
  }
  
  @media screen and (max-width: 700px) {
    #form {
      width: 80%;
      margin-left: none;
      padding: 40px;
    }
  }
  
  h1 {
    color: var(--grad-clr1);
  }